@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --spacing-card-width: 238.11023622px;
  --spacing-card-height: 332.5984252px;
  --spacing-card-padding: 26px;
  --text-card-content-size: 17px;
  --text-card-footer-size: 8px;
}

:root {
  --background: oklch(0.98 0.005158 332.03);
  --foreground: oklch(0.4999999999999999 0.15474000000000002 332.03);
  --card: oklch(0.96 0.01 332.03);
  --card-foreground: oklch(0.4999999999999999 0.15474000000000002 332.03);
  --popover: oklch(0.96 0.01 332.03);
  --popover-foreground: oklch(0.4999999999999999 0.15474000000000002 332.03);
  --primary: oklch(0.75166 0.2579 332.03);
  --primary-foreground: oklch(0.02 0.20632000000000003 332.03);
  --secondary: oklch(0.92 0.025790000000000004 332.03);
  --secondary-foreground: oklch(0.4999999999999999 0.15474000000000002 332.03);
  --muted: oklch(0.92 0.025790000000000004 332.03);
  --muted-foreground: oklch(0.49999999999999994 0.05158000000000001 332.03);
  --accent: oklch(0.92 0.025790000000000004 344.03);
  --accent-foreground: oklch(0.4999999999999999 0.15474000000000002 332.03);
  --destructive: oklch(0.65166 0.20632000000000003 2.0299999999999727);
  --destructive-foreground: oklch(0.19999999999999987 0.15474000000000002 332.03);
  --border: oklch(0.9 0.015474 332.03);
  --input: oklch(0.9 0.015474 332.03);
  --ring: oklch(0.7 0.07737000000000001 332.03);
  --chart-1: oklch(0.87166 0.296585 332.03);
  --chart-2: oklch(0.6916599999999999 0.270795 109.53800000000001);
  --chart-3: oklch(0.77166 0.30948000000000003 247.04600000000005);
  --chart-4: oklch(0.63166 0.2579 24.553999999999974);
  --chart-5: oklch(0.81166 0.245005 162.062);
  --sidebar: oklch(0.98 0.005158 332.03);
  --sidebar-foreground: oklch(0.4999999999999999 0.15474000000000002 332.03);
  --sidebar-primary: oklch(0.75166 0.2579 332.03);
  --sidebar-primary-foreground: oklch(0.29999999999999993 0.15474000000000002 332.03);
  --sidebar-accent: oklch(0.92 0.025790000000000004 344.03);
  --sidebar-accent-foreground: oklch(0.4999999999999999 0.15474000000000002 332.03);
  --sidebar-border: oklch(0.9 0.015474 332.03);
  --sidebar-ring: oklch(0.7 0.07737000000000001 332.03);
  --header: oklch(0.98 0.005158 332.03);
  --header-foreground: oklch(0.4999999999999999 0.15474000000000002 332.03);
  --footer: oklch(0.98 0.005158 332.03);
  --footer-foreground: oklch(0.4999999999999999 0.15474000000000002 332.03);
  --code: oklch(0.98 0.005158 332.03);
  --code-foreground: oklch(0.4999999999999999 0.15474000000000002 332.03);
  --code-highlight: oklch(0.95166 0.01 332.03);
  --code-number: oklch(0.7 0.05158000000000001 332.03);
  --code-selection: oklch(0.96 0.01 332.03);
  --code-border: oklch(0.9 0.015474 332.03);
  --radius: 0.65rem;
}

.dark {
  --background: oklch(0.18 0.012895000000000002 332.03);
  --foreground: oklch(0.85 0.020632 332.03);
  --card: oklch(0.22999999999999998 0.020632 332.03);
  --card-foreground: oklch(0.85 0.020632 332.03);
  --popover: oklch(0.22999999999999998 0.020632 332.03);
  --popover-foreground: oklch(0.85 0.020632 332.03);
  --primary: oklch(0.6122 0.2579 332.03);
  --primary-foreground: oklch(0.02 0.20632000000000003 332.03);
  --secondary: oklch(0.28 0.038685000000000004 332.03);
  --secondary-foreground: oklch(0.85 0.020632 332.03);
  --muted: oklch(0.28 0.038685000000000004 332.03);
  --muted-foreground: oklch(0.85 0.038685000000000004 332.03);
  --accent: oklch(0.28 0.038685000000000004 320.03);
  --accent-foreground: oklch(0.85 0.020632 332.03);
  --destructive: oklch(0.3 0.23211 2.0299999999999727);
  --destructive-foreground: oklch(0.85 0.020632 332.03);
  --border: oklch(0.32999999999999996 0.015474 332.03);
  --input: oklch(0.32999999999999996 0.015474 332.03);
  --ring: oklch(0.55 0.10316000000000002 332.03);
  --chart-1: oklch(0.7322 0.296585 332.03);
  --chart-2: oklch(0.5522 0.270795 44.02999999999997);
  --chart-3: oklch(0.6322 0.30948000000000003 116.02999999999997);
  --chart-4: oklch(0.49219999999999997 0.2579 188.02999999999997);
  --chart-5: oklch(0.6721999999999999 0.245005 260.03);
  --sidebar: oklch(0.22999999999999998 0.020632 332.03);
  --sidebar-foreground: oklch(0.85 0.020632 332.03);
  --sidebar-primary: oklch(0.6122 0.2579 332.03);
  --sidebar-primary-foreground: oklch(0.995 0.020632 332.03);
  --sidebar-accent: oklch(0.28 0.038685000000000004 320.03);
  --sidebar-accent-foreground: oklch(0.85 0.020632 332.03);
  --sidebar-border: oklch(0.32999999999999996 0.015474 332.03);
  --sidebar-ring: oklch(0.55 0.10316000000000002 332.03);
  --header: oklch(0.18 0.012895000000000002 332.03);
  --header-foreground: oklch(0.85 0.020632 332.03);
  --footer: oklch(0.18 0.012895000000000002 332.03);
  --footer-foreground: oklch(0.85 0.020632 332.03);
  --code: oklch(0.22999999999999998 0.020632 332.03);
  --code-foreground: oklch(0.85 0.020632 332.03);
  --code-highlight: oklch(0.41219999999999996 0.012895000000000002 332.03);
  --code-number: oklch(0.5122 0.038685000000000004 332.03);
  --code-selection: oklch(0.18 0.012895000000000002 332.03);
  --code-border: oklch(0.32999999999999996 0.015474 332.03);
  --radius: 0.65rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cl-footerAction,
.cl-footerAction__signIn,
.cl-internal-1rpdi70 {
  display: none;
  visibility: hidden;
}

.text-mwh-card {
  font-family: 'Helvetica', sans-serif;
}
